---
import Layout from "../layouts/Layout.astro";
import Popup from "../components/Popup.astro";
---

<Layout>
  <audio id="bg-music" src="/assets/music/curious-creatures.mp3" loop></audio>
  <div class="mx-32">
    <button id="popup-button-1" class="justify-center">
      <img src="assets/yt-icon.png" class="w-20 h-20" />
    </button>
  </div>

  <Popup id="popup-1" title="faq" background="assets/yt-icon.png">
    <p>answer questions ok</p>
  </Popup>
  <script>
    const popupButton1 = document.getElementById("popup-button-1");
    const popup1 = document.getElementById("popup-1");
    const bgMusic = document.getElementById("bg-music") as HTMLAudioElement;

    let musicStarted = false;

    let bgPath1 = "url(assets/whimsy-bg-1.png)";
    let bgPath2 = "url(assets/whimsy-bg-2.png)";
    let count = 1;

    document.addEventListener("click", () => {
      if (!musicStarted) {
        bgMusic.play();
        musicStarted = true;
      }
    });

    popupButton1?.addEventListener("click", () => {
      popup1?.classList.toggle("hidden");
    });

    setInterval(() => {
      count += 1;
      count %= 2;
      if (count == 0) {
        document.body.style.backgroundImage = bgPath1;
      }
      else {
        document.body.style.backgroundImage = bgPath2;
      }
    }, 500);

    function makeDraggable(popup: HTMLElement) {
      const handle = popup.querySelector<HTMLElement>(".popup-handle");
      let isDragging = false;
      let offsetX = 0;
      let offsetY = 0;

      handle?.addEventListener("mousedown", (e: MouseEvent) => {
        isDragging = true;
        const rect = popup.getBoundingClientRect();
        offsetX = e.clientX - rect.left;
        offsetY = e.clientY - rect.top;
      });

      document.addEventListener("mousemove", (e: MouseEvent) => {
        if (!isDragging) return;
        popup.style.left = `${e.clientX - offsetX}px`;
        popup.style.top = `${e.clientY - offsetY}px`;
      });

      document.addEventListener("mouseup", (e: MouseEvent) => {
        isDragging = false;
      });
    }

    function makeClosable(popup: HTMLElement) {
      const cancel = popup.querySelector<HTMLElement>(".popup-close");

      cancel?.addEventListener("click", (e: MouseEvent) => {
        popup.classList.toggle("hidden");
      });
    }

    //make all popups on the page draggable
    const popups = document.querySelectorAll<HTMLElement>(".popup");
    popups.forEach((popup) => {
      makeDraggable(popup);
      makeClosable(popup);
    });
  </script>
</Layout>
